// Common colors

$default-color: #ffffff;
$primary-color: #d87d4a;
$second-color: #000000;
$primary-color-hover: #fbaf85;
$footer-bg-color: #101010;
$grey: #f1f1f1;
$grey-1: #fafafa;
$field-default-color: #cfcfcf;
$color-error-validation: #cd2c2c;

//Typography
$base-font: 'Manrope', sans-serif;
$heading-font: 'Manrope-bold', sans-serif;
$base-font-size: 1.5rem;
$base-font-weight: 500;
$heading-font-weight: 700;
$base-line-height: 1.5rem;
$heading-line-height: 2.5rem;
$base-spacing: 1rem;
