// Common colors
$peru: #d87d4a;
$very-light-tangelo: #fbaf85;
$black: #000000;
$chinese-black: #101010;
$anti-flash-white: #f1f1f1;
$lotion: #fafafa;

//Fonts
$base-font: 'Manrope', sans-serif;
$heading-font: 'Manrope-bold', sans-serif;
$base-font-size: 1.5rem;
$base-font-weight: 500;
$heading-font-weight: 700;
$base-line-height: 1.5rem;
$heading-line-height: 2.5rem;
$base-spacing: 1rem;
