.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  margin: 0 auto;
  gap: 10px;
}

.address {
  width: 100%;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

.sign-btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: $primary-color;
  border: none;
  border-radius: 10%;
  color: $default-color;
  transition: 0.3s;
}

.hidden {
  display: none;
}

.sign-text {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.sign-link {
  color: $second-color;
  margin-left: 3px;
}

.page-wrapper {
  padding-block: 30px;
}

.login-msg {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 15px 40px;
}
