.input {
  font-family: $base-font;
  font-size: 1.2rem;
  line-height: normal;
  width: 100%;

  input {
    font-weight: $heading-font-weight;
    color: $second-color;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $field-default-color;
    padding: 8px 24px;

    &:hover {
      border: 1px solid $primary-color;
    }

    &:focus {
      outline: none;
      border: 1px solid $primary-color;
    }

    &::placeholder {
      color: $field-default-color;
    }
  }

  &__label {
    position: relative;
    display: flex;
    justify-content: space-between;

    p {
      margin: 0 0 9px;

      &:first-child {
        font-weight: $heading-font-weight;
      }

      &:nth-child(2) {
        position: absolute;
        right: 0;
      }
    }
  }

  &_invalid:not(input) {
    color: $color-error-validation;

    input {
      border: 1px solid $color-error-validation;
      color: $second-color;
    }
  }
}
