.menu-container {
  background-color: $default-color;
  color: $default-color;
  padding: 15px 20px;
  border-radius: 8px;
}

.menu-wrapper {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.email-para {
  font-size: 1.2rem;
  color: $second-color;
  padding: 5px 10px;
  border-radius: 4px;
  background: $grey;
}

.log-out-btn {
  padding: 6px 10px;
}

.log-profile-btn {
  padding: 6px 10px;
  // border-left: 1px solid $default-color;
  background-color: $primary-color;
}

.dropdown-toggle {
  &::after {
    all: unset;
  }
}
