.user-nav__list {
  @include flex-vertical-center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav__item {
  @include flex-vertical-center;
  padding: 15px 10px;

  svg {
    width: 26px;
    height: auto;
  }

  &:first-of-type {
    @include breakpoint('tablet', 'max') {
      padding-inline: 0;
    }
  }

  &:nth-of-type(2) {
    @include breakpoint('mobile', 'max') {
      padding-left: 5px;
    }
  }
}

.user-nav__link {
  @include outline-on-focus;
  padding: 5px;
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;
}

.user-menu__toggle {
  &::after {
    all: unset;
  }
}

.user-menu__dropdown {
  position: relative;
  background-color: $primary-color;
  padding-block: 0px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  li:not(:last-of-type) {
    border-bottom: 1px solid var(--bs-dropdown-divider-bg);
  }

  &::before {
    border-bottom: 15px solid $primary-color;
    border-left: 19px solid rgba(0, 0, 0, 0);
    border-right: 19px solid rgba(0, 0, 0, 0);
    content: '';
    position: absolute;
    right: 0;
    top: -14px;
    width: 0;
    z-index: -1;
    transition: border-color 0.1s;
  }

  &:has(li:first-of-type:hover) {
    &::before {
      border-bottom: 15px solid $primary-color-hover;
    }
  }
}

.user-menu__dropdown-item {
  padding: 10px 25px;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $default-color !important;
  transition: background-color 0.1s;

  &:hover {
    background-color: $primary-color-hover;
  }
}
