.user-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.user-nav__item {
  color: #fff;
  display: flex;
  align-items: center;

  svg {
    width: 24px;
    height: auto;
  }
}

.user-nav__btn {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
