.user-nav__list {
  @include flex-vertical-center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;

  @include breakpoint('tablet', 'max') {
    gap: 10px;
  }
}

.user-nav__item {
  @include flex-vertical-center;

  svg {
    width: 24px;
    height: auto;
  }
}

.user-nav__btn {
  background: none;
  border: none;
  cursor: pointer;
}
