.nav__list {
  @include flex-vertical-center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav__item {
  margin-right: 10px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include breakpoint($sign-up-hide, $max) {
    margin-inline: 0px;
  }
}

.sign-in-item {
  @include breakpoint($sign-up-hide, $max) {
    margin: 0;
  }
}

.sign-in-link {
  @include breakpoint($sign-up-hide, $max) {
    padding-inline: 5px;
  }
}

.sign-up-item,
.sign-in-item {
  @include breakpoint($sign-up-hide, $max) {
    display: none;
  }
}

.auth-dropdown {
  display: none;

  @include breakpoint($sign-up-hide, $max) {
    display: block;
  }

  a {
    font-size: 1.5rem;
    padding-block: 5px;
  }
}

.dropdown-toggle {
  &::after {
    all: unset;
  }
}

.cart-count {
  text-align: center;
  position: absolute;
  top: 25px;
  transform: translateX(-35%);
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 1;
  padding: 2px 2px;
  background-color: $primary-color;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 700;
}
