.page-wrapper {
  @include flex-column;
  background-color: $grey-1;
}

.activ-link li:nth-child(2) a {
  position: relative;
  display: inline-block;
}

.activ-link li:nth-child(2) a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $primary-color;
}

.page-layout {
  display: grid;
  max-width: 750px;
  background-color: $default-color;
  border-radius: 8px;
  width: 100%;
  padding: 30px;
  margin: auto;
  margin-bottom: 40px;

  .add-button {
    min-width: 270px;
    margin: 20px auto;
  }

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
  }
}

.address-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
