.page-wrapper {
  padding-block: 50px;
  min-height: 700px;
}

.page-nav {
  text-decoration: none;

  @media (max-width: 1000px) {
    order: 1;
  }
}

.user-info {
  margin: auto;

  a {
    text-decoration: none;
    line-height: normal;
  }
}

.dlist {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px 40px;
  margin-bottom: 30px;

  @media (max-width: 570px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: $default-color;
  font-size: 1.7rem;
  display: flex;
  padding: 70px;
  max-width: 900px;
  margin: auto;
  padding-right: 50px;
  border-radius: 8px;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    padding-inline: 50px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
  }
}

.inner-card {
  width: 100%;
  max-width: 500px;
  border: 1px solid rgb(0, 0, 0, 11%);
  box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.07);
  padding: 40px;
  border-radius: 8px;
  margin: auto;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

.nav-list {
  list-style: none;
  padding: 0;

  button {
    padding: 5px;
    @include bg-border-none;
  }
}

.buttons-wrapper {
  display: flex;
  gap: 20px;

  @media (max-width: 570px) {
    flex-direction: column;
    gap: 10px;
  }
}

.info-controls-container {
  width: 100%;
  margin-bottom: 20px;
}

.edit-info-form {
  width: 100%;
  margin: auto;

  button {
    width: 100px;
  }
}

.update-msg {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  margin-top: 20px;

  &--succes {
    svg {
      color: green;
    }

    background-color: #d5ffd8;
  }

  &--error {
    svg {
      color: red;
    }

    background-color: #ffcccc;
  }
}

.content {
  position: relative;
  margin: auto;
  width: 100%;

  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
}

.update-msg-container {
  position: absolute;
  top: -70px;
  left: 50%;
  translate: -50% 0;

  div {
    white-space: nowrap;
  }
}

.address-btns {
  button {
    width: 100px;
  }
}

.newAddressBtn {
  margin: auto;
  display: block;
  margin-top: -40px;
  margin-bottom: 20px;
}

.address-types-dlist {
  dt {
    font-weight: 500;
  }

  dd {
    @include flex-vertical-center;
    gap: 20px;
  }

  label {
    @include flex-vertical-center;
    gap: 5px;
    user-select: none;
  }
}

.address-card:not(:last-of-type) {
  margin-bottom: 20px;
}

.address-list {
  display: flex;
  overflow: auto;
}
