@import '../../styles/helpers/variables';
@import '../login/login.scss';

.billing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.billing-label {
  line-height: 1;
  font-size: 1.2rem;
  display: block;
}

.sign-btn__up {
  margin-bottom: 2rem;
}
