.products-container {
  max-width: 1080px;
}

.products__toolbar {
  margin-bottom: 20px;
}

.products__collection {
  text-decoration: none;

  &--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
