.filter-container {
  width: 260px;
  padding: 30px 25px;
  background-color: $default-color;
  align-self: start;
  margin-right: 30px;
  font-family: $base-font;
  flex-shrink: 0;
  overflow: auto;
}

.filter-heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.filter-blocks-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.applied-filters {
  display: block;
  font-size: 1.5rem;
}

.applied-filters-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.applied-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
  }
}

.clear-all-btn {
  @include bg-border-none;
  padding: 5px;
  color: #777;

  &:hover {
    text-decoration: underline;
  }
}

.remove-filter-btn {
  @include bg-border-none;
}
