.page-wrapper {
  padding-block: 30px;
}

h1 {
  text-align: center;
}

.user-info h2 {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $primary-color;
  color: white;
  padding: 0.5rem;
}

.user-info {
  position: relative;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 3.5rem;
  border: 1px solid $primary-color;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.user-info div {
  width: 50%;
}

.user-info div div {
  text-align: center;
  width: 90%;
}

.first-name {
  grid-area: first-name;
}

.last-name {
  grid-area: last-name;
}

.email {
  grid-area: email;
}

.pwd {
  grid-area: pwd;
}

.pwd-сonfirm {
  grid-area: pwd-confirm;
}

.birth {
  grid-area: birth;
}

.phone {
  grid-area: phone;
}

input [type='select'] {
  width: 90%;
}
