.page-wrapper {
  padding-block: 30px;
}

h1 {
  text-align: center;
}

.data-wrapper {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  font-size: 16px;
  margin-bottom: 2rem;
}

.data-key {
  font-weight: 600;
}

.data-valuey {
  color: $second-color;
}

.first-name {
  grid-area: first-name;
}

.last-name {
  grid-area: last-name;
}

.email {
  grid-area: email;
}

.pwd {
  grid-area: pwd;
}

.pwd-сonfirm {
  grid-area: pwd-confirm;
}

.birth {
  grid-area: birth;
}

.phone {
  grid-area: phone;
}

.shipping {
  grid-area: shipping;
  position: relative;
}

.billing {
  grid-area: billing;
  position: relative;
}

.hidden {
  display: none;
}
