.hidden {
  display: none;
}

.user-info-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  color: $default-color;
  background-color: $primary-color;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $primary-color-hover;
    transition: 0.2s;
  }

  &:active {
    transform: scale(1.2);
  }
}
