.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  background: #000;
  padding-right: var(--fancybox-scrollbar-compensate);
}

html {
  &[data-scrollbar-compensate] {
    .header-wrapper {
      padding-right: var(--scrollbar-compensate);
    }
  }
}

.header {
  @include flex-vertical-center;
  padding-block: 15px;
  flex-wrap: wrap;
  color: $default-color;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  font-family: $base-font;

  a,
  button {
    color: inherit;
    text-decoration: none;
  }
}

.header__hamburger {
  display: none;

  @include breakpoint($nav-hide, $max) {
    order: 1;
    display: inline-block;
    margin-right: 20px;
  }

  @include breakpoint($sign-up-hide, $max) {
    margin-right: 0;
  }
}

.header__logo {
  margin-right: auto;

  @include breakpoint($nav-hide, $max) {
    order: 2;
    margin: 0;
  }
}

.header__site-nav {
  @include breakpoint($nav-hide, $max) {
    width: 100%;
    order: 4;
    margin-right: auto;
  }
}

.header__user-nav {
  margin-left: auto;

  @include breakpoint($nav-hide, $max) {
    order: 3;
  }
}
