.site-nav {
  @include flex-vertical-center;
  padding: 0;

  @include breakpoint('tablet', 'max') {
    &:not(:has(.show, .collapsing)) {
      position: absolute;
    }
  }
}

.site-nav__list {
  @include flex-vertical-center;
  gap: 34px;
  list-style: none;
  margin: 0;

  @include breakpoint('tablet', 'max') {
    padding-top: 15px;
    gap: 20px;
  }
}

.site-nav__link {
  @include flex-vertical-center;
  padding: 0;

  &:hover,
  &:focus {
    color: inherit;
  }
}
