.site-nav {
  @include flex-vertical-center;
  padding: 0;
}

.site-nav__list {
  @include flex-vertical-center;
  list-style: none;
  gap: 10px;
  margin: 0;

  @include breakpoint($nav-hide, $max) {
    padding-top: 15px;
    gap: 20px;
  }
}

.site-nav__item {
  @include breakpoint($nav-hide, $max) {
    padding-block: 0 !important;
  }
}

.site-nav__link {
  @include flex-vertical-center;
  color: inherit;

  &:focus {
    outline: none;
    color: inherit;
  }

  &:hover {
    color: $primary-color;
  }
}
