.f-carousel {
  --f-button-next-pos: -5px;
  --f-button-prev-pos: -5px;
}

.f-carousel__dots {
  position: static;
}

.f-carousel__slide {
  padding-inline: 40px;
  cursor: zoom-in;

  @media (max-width: 1000px) {
    max-width: 650px;
    margin: auto;
    padding-inline: 0;
  }

  @media (min-width: 420px) and (max-width: 1000px) {
    padding-inline: 40px;
  }
}
