.footer-wrapper {
  background: $second-color;
}

.footer {
  @include flex-column;
  padding-block: 0 48px;
  flex-wrap: wrap;
  color: $default-color;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  font-family: $base-font;

  a,
  button {
    color: inherit;
    text-decoration: none;
  }
}

.footer-rectangle {
  background: $primary-color;
  width: 101px;
  height: 4px;
}

.footer__logo {
  margin-right: auto;
}

.footer-title {
  @include flex-vertical-center;
  justify-content: space-between;
  padding-block: 51px 16px;
}

.footer__two-column {
  @include flex-vertical-center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content {
  @include flex-column;
  gap: 56px;
  max-width: 540px;

  p {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: normal;
    opacity: 0.5;
  }
}

.footer-social {
  @include flex-vertical-center;
  justify-content: flex-end;
  gap: 16px;
}
