@import '../../styles/helpers/variables';

.page-wrapper {
  padding-top: 30px;
  @include flex-vertical-center;
  justify-content: center;
  text-align: center;
}

.code {
  font-size: clamp(5rem, -0.455rem + 27.27vw, 20rem);
  color: $primary-color;
  margin: 0;
}

.not-found {
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
}

.go-back {
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);

  a {
    font-size: inherit;
  }
}
